
body {
  display: flex;
  justify-content: center;
}

.visor {
  max-width: 100%;
  background-color: #ebe8ea;
  color: #2e2e2e;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 30px;
  border-radius: 20px;
}

.ball {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border-color: white;
  animation: bounce 0.5s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5,0.05,1,.5);
  animation-iteration-count: infinite;
}
.ball2 {
  animation: bounce 0.9s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5,0.05,1,.5);
  animation-iteration-count: infinite;
}
.ball3 {
  animation: bounce 1s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5,0.05,1,.5);
  animation-iteration-count: infinite;

}

.ball4 {
  animation: bounce 0.7s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5,0.05,1,.5);
  animation-iteration-count: infinite;
}

.number {
  background-color: #ffa41b
}
.symbol {
  background-color: #005082
}
.equal {
  background-color: #000839;
  color: white;
}
.clear {
  background-color: rgb(176, 103, 224);
}

@keyframes bounce {
  from { transform: translate3d(0, 0, 0);     }
  to   { transform: translate3d(0, 200px, 0); }
}

/* Prefix Support */
ball {
  -webkit-animation-name: bounce;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: cubic-bezier(.5,0.05,1,.5);
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
  from { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
  to   { -webkit-transform: translate3d(0, 200px, 0); transform: translate3d(0, 200px, 0); }
}



.element {
  width: 100%;
  height: 100%;
  animation: pulse 5s infinite;
}

@keyframes pulse {
  0% {
    background-color: #0779e4;
  }
  30% {
    background-color: #4cbbb9
  }
  80% {
    background-color: #77d8d8;
  }
  100% {
    background-color: #0779e4;
  }
}